workSpace/.metadata/
workSpace/RemoteSystemsTempFiles/.project
.metadata/
workSpace/Servers2/.project
workSpace/Servers2/.settings/org.eclipse.wst.server.core.prefs
workSpace/Servers2/Tomcat v7.0 Server at localhost-config/catalina.policy
workSpace/Servers2/Tomcat v7.0 Server at localhost-config/catalina.properties
workSpace/Servers2/Tomcat v7.0 Server at localhost-config/context.xml
workSpace/Servers2/Tomcat v7.0 Server at localhost-config/server.xml
workSpace/Servers2/Tomcat v7.0 Server at localhost-config/tomcat-users.xml
workSpace/Servers2/Tomcat v7.0 Server at localhost-config/web.xml
workSpace/Servers/.project
workSpace/Servers/.settings/org.eclipse.wst.server.core.prefs
workSpace/Servers/Tomcat v7.0 Server at localhost-config/catalina.policy
workSpace/Servers/Tomcat v7.0 Server at localhost-config/catalina.properties
workSpace/Servers/Tomcat v7.0 Server at localhost-config/context.xml
workSpace/Servers/Tomcat v7.0 Server at localhost-config/server.xml
workSpace/Servers/Tomcat v7.0 Server at localhost-config/tomcat-users.xml
workSpace/Servers/Tomcat v7.0 Server at localhost-config/web.xml
workSpace/Servers/.settings/org.eclipse.wst.server.core.prefs.rej
